<link rel="stylesheet" href="/static/css/login.css">
<div class="uk-panel login-panel">
    <h3 class="uk-panel-title">欢迎登录</h3>
    <form class="uk-form uk-form-stacked">
        <div class="uk-form-row">
            <label class="uk-form-label" for="">用户名:</label>
            <div class="uk-form-controls"><input type="text" placeholder="请输入用户名"></div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">密码:</label>
            <div class="uk-form-controls"><input type="password" placeholder="请输入密码"></div>
        </div>
        <div class="login-actions">
            <button class="uk-button">登录</button>
        </div>
    </form>
</div>
